@{

    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Azure Datacentre (TSP)</title>
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <script>

        function addMarker(location, map, label) {
            // Add the marker at the clicked location, and add the next-available label
            // from the array of alphabetical characters.
            var marker = new google.maps.Marker({
                position: location,
                title: label,
                map: map
            });
        }



        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 3,
                center: { lat: 0, lng: -180 },
                mapTypeId: 'terrain'
            });
            /*
            var flightPlanCoordinates = [
                { lat: 22.267, lng: 114.188 }, { lat: 37.5665, lng: 126.978 }, { lat: 35.1796, lng: 129.076 }, { lat: 34.6939, lng: 135.502 }, { lat: 35.68, lng: 139.77 }, { lat: -33.86, lng: 151.209 }, { lat: -37.8136, lng: 144.963 }, { lat: -23.55, lng: -46.633 }, { lat: 29.4167, lng: -98.5 }, { lat: 37.783, lng: -122.417 }, { lat: 47.233, lng: -119.852 }, { lat: 40.89, lng: -110.234 }, { lat: 41.5908, lng: -93.6208 }, { lat: 41.8819, lng: -87.6278 }, { lat: 37.3719, lng: -79.8164 }, { lat: 36.6681, lng: -78.3889 }, { lat: 43.653, lng: -79.383 }, { lat: 46.817, lng: -71.217 }, { lat: 53.3478, lng: -6.2597 }, { lat: 53.427, lng: -3.084 }, { lat: 50.941, lng: -0.799 }, { lat: 52.3667, lng: 4.9 }, { lat: 19.088, lng: 72.868 }, { lat: 18.5822, lng: 73.9197 }, { lat: 12.9822, lng: 80.1636 }, { lat: 1.283, lng: 103.833 }, { lat: 22.267, lng: 114.188 }
            ];
            */


            var jsonrequestdata = `
                [
                  {
                    "displayName": "East Asia",
                    "id": "/subscriptions/dddbadc2-9d31-43f4-a7e3-ae83c9da646a/locations/eastasia",
                    "latitude": "22.267",
                    "longitude": "114.188",
                    "name": "eastasia",
                    "subscriptionId": null
                  },
                  {
                    "displayName": "Southeast Asia",
                    "id": "/subscriptions/dddbadc2-9d31-43f4-a7e3-ae83c9da646a/locations/southeastasia",
                    "latitude": "1.283",
                    "longitude": "103.833",
                    "name": "southeastasia",
                    "subscriptionId": null
                  },
                  {
                    "displayName": "Central US",
                    "id": "/subscriptions/dddbadc2-9d31-43f4-a7e3-ae83c9da646a/locations/centralus",
                    "latitude": "41.5908",
                    "longitude": "-93.6208",
                    "name": "centralus",
                    "subscriptionId": null
                  },
                  {
                    "displayName": "East US",
                    "id": "/subscriptions/dddbadc2-9d31-43f4-a7e3-ae83c9da646a/locations/eastus",
                    "latitude": "37.3719",
                    "longitude": "-79.8164",
                    "name": "eastus",
                    "subscriptionId": null
                  },
                  {
                    "displayName": "East US 2",
                    "id": "/subscriptions/dddbadc2-9d31-43f4-a7e3-ae83c9da646a/locations/eastus2",
                    "latitude": "36.6681",
                    "longitude": "-78.3889",
                    "name": "eastus2",
                    "subscriptionId": null
                  },
                  {
                    "displayName": "West US",
                    "id": "/subscriptions/dddbadc2-9d31-43f4-a7e3-ae83c9da646a/locations/westus",
                    "latitude": "37.783",
                    "longitude": "-122.417",
                    "name": "westus",
                    "subscriptionId": null
                  },
                  {
                    "displayName": "North Central US",
                    "id": "/subscriptions/dddbadc2-9d31-43f4-a7e3-ae83c9da646a/locations/northcentralus",
                    "latitude": "41.8819",
                    "longitude": "-87.6278",
                    "name": "northcentralus",
                    "subscriptionId": null
                  },
                  {
                    "displayName": "South Central US",
                    "id": "/subscriptions/dddbadc2-9d31-43f4-a7e3-ae83c9da646a/locations/southcentralus",
                    "latitude": "29.4167",
                    "longitude": "-98.5",
                    "name": "southcentralus",
                    "subscriptionId": null
                  },
                  {
                    "displayName": "North Europe",
                    "id": "/subscriptions/dddbadc2-9d31-43f4-a7e3-ae83c9da646a/locations/northeurope",
                    "latitude": "53.3478",
                    "longitude": "-6.2597",
                    "name": "northeurope",
                    "subscriptionId": null
                  },
                  {
                    "displayName": "West Europe",
                    "id": "/subscriptions/dddbadc2-9d31-43f4-a7e3-ae83c9da646a/locations/westeurope",
                    "latitude": "52.3667",
                    "longitude": "4.9",
                    "name": "westeurope",
                    "subscriptionId": null
                  },
                  {
                    "displayName": "Japan West",
                    "id": "/subscriptions/dddbadc2-9d31-43f4-a7e3-ae83c9da646a/locations/japanwest",
                    "latitude": "34.6939",
                    "longitude": "135.5022",
                    "name": "japanwest",
                    "subscriptionId": null
                  },
                  {
                    "displayName": "Japan East",
                    "id": "/subscriptions/dddbadc2-9d31-43f4-a7e3-ae83c9da646a/locations/japaneast",
                    "latitude": "35.68",
                    "longitude": "139.77",
                    "name": "japaneast",
                    "subscriptionId": null
                  },
                  {
                    "displayName": "Brazil South",
                    "id": "/subscriptions/dddbadc2-9d31-43f4-a7e3-ae83c9da646a/locations/brazilsouth",
                    "latitude": "-23.55",
                    "longitude": "-46.633",
                    "name": "brazilsouth",
                    "subscriptionId": null
                  },
                  {
                    "displayName": "Australia East",
                    "id": "/subscriptions/dddbadc2-9d31-43f4-a7e3-ae83c9da646a/locations/australiaeast",
                    "latitude": "-33.86",
                    "longitude": "151.2094",
                    "name": "australiaeast",
                    "subscriptionId": null
                  },
                  {
                    "displayName": "Australia Southeast",
                    "id": "/subscriptions/dddbadc2-9d31-43f4-a7e3-ae83c9da646a/locations/australiasoutheast",
                    "latitude": "-37.8136",
                    "longitude": "144.9631",
                    "name": "australiasoutheast",
                    "subscriptionId": null
                  },
                  {
                    "displayName": "South India",
                    "id": "/subscriptions/dddbadc2-9d31-43f4-a7e3-ae83c9da646a/locations/southindia",
                    "latitude": "12.9822",
                    "longitude": "80.1636",
                    "name": "southindia",
                    "subscriptionId": null
                  },
                  {
                    "displayName": "Central India",
                    "id": "/subscriptions/dddbadc2-9d31-43f4-a7e3-ae83c9da646a/locations/centralindia",
                    "latitude": "18.5822",
                    "longitude": "73.9197",
                    "name": "centralindia",
                    "subscriptionId": null
                  },
                  {
                    "displayName": "West India",
                    "id": "/subscriptions/dddbadc2-9d31-43f4-a7e3-ae83c9da646a/locations/westindia",
                    "latitude": "19.088",
                    "longitude": "72.868",
                    "name": "westindia",
                    "subscriptionId": null
                  },
                  {
                    "displayName": "Canada Central",
                    "id": "/subscriptions/dddbadc2-9d31-43f4-a7e3-ae83c9da646a/locations/canadacentral",
                    "latitude": "43.653",
                    "longitude": "-79.383",
                    "name": "canadacentral",
                    "subscriptionId": null
                  },
                  {
                    "displayName": "Canada East",
                    "id": "/subscriptions/dddbadc2-9d31-43f4-a7e3-ae83c9da646a/locations/canadaeast",
                    "latitude": "46.817",
                    "longitude": "-71.217",
                    "name": "canadaeast",
                    "subscriptionId": null
                  },
                  {
                    "displayName": "UK South",
                    "id": "/subscriptions/dddbadc2-9d31-43f4-a7e3-ae83c9da646a/locations/uksouth",
                    "latitude": "50.941",
                    "longitude": "-0.799",
                    "name": "uksouth",
                    "subscriptionId": null
                  },
                  {
                    "displayName": "UK West",
                    "id": "/subscriptions/dddbadc2-9d31-43f4-a7e3-ae83c9da646a/locations/ukwest",
                    "latitude": "53.427",
                    "longitude": "-3.084",
                    "name": "ukwest",
                    "subscriptionId": null
                  },

                  {
                    "displayName": "West Central US",
                    "id": "/subscriptions/dddbadc2-9d31-43f4-a7e3-ae83c9da646a/locations/westcentralus",
                    "latitude": "40.890",
                    "longitude": "-110.234",
                    "name": "westcentralus",
                    "subscriptionId": null
                  },
                  {
                    "displayName": "West US 2",
                    "id": "/subscriptions/dddbadc2-9d31-43f4-a7e3-ae83c9da646a/locations/westus2",
                    "latitude": "47.233",
                    "longitude": "-119.852",
                    "name": "westus2",
                    "subscriptionId": null
                  },
                  {
                    "displayName": "Korea Central",
                    "id": "/subscriptions/dddbadc2-9d31-43f4-a7e3-ae83c9da646a/locations/koreacentral",
                    "latitude": "37.5665",
                    "longitude": "126.9780",
                    "name": "koreacentral",
                    "subscriptionId": null
                  },
                  {
                    "displayName": "Korea South",
                    "id": "/subscriptions/dddbadc2-9d31-43f4-a7e3-ae83c9da646a/locations/koreasouth",
                    "latitude": "35.1796",
                    "longitude": "129.0756",
                    "name": "koreasouth",
                    "subscriptionId": null
                  }
                ]
        `
            var obj2;
            var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance
            //var url = "http://localhost:8080/calculate";
            //var url = "http://172.28.109.65:8080/calculate";
            //var url = ("@ViewData["apiserver_client_endpoint"]");

            var url = location.href + 'home/calculate';



                xmlhttp.onreadystatechange = function () {
                    if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                        //alert(xmlhttp.responseText);
                        obj2 = JSON.parse(xmlhttp.responseText);
                        //obj2 = eval(xmlHttp.responseText);
                        //obj3 = JSON.parse(obj2.data);
                        obj3 = obj2;

                        //Adding Points
                        $.each(obj3, function (key, value) {
                            var datacentre = JSON.parse(value)
                            console.log(key + ' ' + datacentre.name);

                            var myLatlng = new google.maps.LatLng(datacentre.latitude, datacentre.longitude);
                            addMarker(myLatlng, map, datacentre.name);
                        });

                        //Adding Flight Path


                        // { lat: 22.267, lng: 114.188 }
                        /*
                        var flightPlanCoordinates = {};
                        var datacentre = []
                        flightPlanCoordinates = datacentre;
                        console.log(flightPlanCoordinates);

                         $.each(obj3, function (key, value) {
                            var datacentre = JSON.parse(value)
                            console.log(key + ' ' + datacentre.name);

                            var dc = {
                                "lat": datacentre.latitude,
                                "lng": datacentre.longitude
                            }
                            flightPlanCoordinates.push(dc);

                        });

                        console.log(flightPlanCoordinates);
                        console.log(JSON.stringify(flightPlanCoordinates));
                        */

                        var flightPlanCoordinates = [];

                        var count = 0;
                        while (obj3[count]) {

                            var datacentre = JSON.parse(obj3[count]);
                            flightPlanCoordinates.push(new google.maps.LatLng(datacentre.latitude, datacentre.longitude));
                            count++;
                        }
                        console.log("Count:" + count);

                        $.each(obj3, function (key, value) {
                            var datacentre = JSON.parse(value);
                            flightPlanCoordinates.push(new google.maps.LatLng(datacentre.latitude, datacentre.longitude));

                        });
                        console.log(JSON.stringify(flightPlanCoordinates));


                        var flightPath = new google.maps.Polyline({
                            path: flightPlanCoordinates,
                            geodesic: true,
                            strokeColor: '#FF0000',
                            strokeOpacity: 1.0,
                            strokeWeight: 2
                        });


                        flightPath.setMap(map);


                    }
                }

            xmlhttp.open("POST", url, true);
            xmlhttp.setRequestHeader("Content-Type", "application/json");
            //var data = JSON.stringify({ name: "John Rambo", time: "2pm" })
            xmlhttp.send(jsonrequestdata);





        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiCRGuL8ehS2-kIAZeCFxexPBr3POtbp0&callback=initMap">
    </script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</body>
</html>