@{

    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Azure Datacentre (TSP)</title>
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js">
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiCRGuL8ehS2-kIAZeCFxexPBr3POtbp0&callback=initMap">
    </script>
    
</head>
<body>
    <div id="map"></div>
    <script>

        function addMarker(location, map, label) {
            var marker = new google.maps.Marker({
                position: location,
                title: label,
                map: map
            });
        }


        function callback(data) {
            console.log(JSON.stringify(data))
        }

        function initMap() {


            $.ajax({
                url: location.href + 'home/locations',
                dataType: 'json',
                success: drawMap
            });

        }

        function drawMap(jsonrequestdata) {


            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 3,
                center: { lat: 0, lng: -180 },
                mapTypeId: 'terrain'
            });


            var xmlhttp = new XMLHttpRequest();
            var url = location.href + 'home/calculate';

            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == XMLHttpRequest.DONE) {

                    obj3 = JSON.parse(xmlhttp.responseText);

                    //Adding Points
                    $.each(obj3, function (key, value) {
                        var datacentre = JSON.parse(value)
                        console.log(key + ' ' + datacentre.name);

                        var myLatlng = new google.maps.LatLng(datacentre.latitude, datacentre.longitude);
                        addMarker(myLatlng, map, datacentre.name);
                    });

                    var flightPlanCoordinates = [];

                    var count = 0;
                    while (obj3[count]) {

                        var datacentre = JSON.parse(obj3[count]);
                        flightPlanCoordinates.push(new google.maps.LatLng(datacentre.latitude, datacentre.longitude));
                        count++;
                    }
                    console.log("Count:" + count);

                    $.each(obj3, function (key, value) {
                        var datacentre = JSON.parse(value);
                        flightPlanCoordinates.push(new google.maps.LatLng(datacentre.latitude, datacentre.longitude));

                    });
                    console.log(JSON.stringify(flightPlanCoordinates));


                    var flightPath = new google.maps.Polyline({
                        path: flightPlanCoordinates,
                        geodesic: true,
                        strokeColor: '#FF0000',
                        strokeOpacity: 1.0,
                        strokeWeight: 2
                    });


                    flightPath.setMap(map);


                }
            }

            xmlhttp.open("POST", url, true);
            xmlhttp.setRequestHeader("Content-Type", "application/json");
            xmlhttp.send(JSON.stringify(jsonrequestdata));


        }

    </script>

</body>
</html>